{% extends 'customer/customermain.html'%} {% block content%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.checkvalues').click(function() {
            var txt = "";
            $('.checkvalues:checked').each(function() {
                txt += $(this).val() + ","
            });
            txt = txt.substring(0, txt.length - 1);
            $('#txtvalues').val(txt);

        });

    });
</script>
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Travaler Name: </label>
        <input type="text" name="travaler_name" placeholder="Enter your name">

        <label>Travaler Contact: </label>
        <input type="text" name="traveler_contact" placeholder="Enter your phone number">

        <label>Seat: </label> {% for seat in seats %}
        <input type="checkbox" value="{{seat.seat_no}}" class="checkvalues"> {%endfor%}
        <input type="text" name="seat" id="txtvalues" readonly>
        <input type="submit" value="Book">
    </form>
</div>


{%endblock content%}