<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="social , footer_item">
        <p>facebook</p>
        <p>telegram</p>
<p>instagram</p>
    </div>
<div class="copyright , footer_item">
<h3>Afroperia Bus </h3>
<span> make your travels freely let us worry for you </span>
</div>
<div class="contact-us, footer_item">
<h3>contact us</h3>
<p> head office - Jimma Centeral hotel </p>

<a href="mailto:afroperia@gamil.com">mail us</a>
<p> phone number  <span> +251-965457854</span> </p>

</div>
</footer>
</body>
</html>

<!-- End Footer -->
