<section class="hero">
    <header id="header">
        <nav id="nav">

           <div class="logo">
               <img src="logo.png" alt="logo">
           </div>

           <div class="links">
               <ul>
                  <li>
                    <a href="#"> home </a>
                       </li>
                       <li>
                        <a href="#">  register Bus</a>
                       </li>
                       <li>

                      <a href="#"> contact us </a>
                       </li>
                     <li>
                       <a href="#"> login/sign up </a>
                     </li>
                     <li>
                       <a href="#"> help </a>
                     </li>
               </ul>
           </div>

        </nav>
        <div class="navbar-secondary-items">
<div class="brand-name">
                <h1>
                Afroperia Bus Booking
            </h1>
            <p>" make your travel fun! let us worry for you "</p>
        </div>
            <div class="search-box">
               <form action="" method="GET">
           <input type="text" name="x" placeholder="from">
           <input type="text" name="y" placeholder="to">
           <input type="date" name="z" placeholder="when">
           <input type="submit" value="search">
               </form>
            </div>
        </div>


           </header>

</section>
