{% load static %}
  <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="main.css">
        <title>Bus Booking In Ethiopia</title>

            <meta content="" name="description">
            <meta content="" name="keywords">


    <link href="{% static 'customer_assets/main.css' %}" rel="stylesheet">

</head>

<body>
    {% include 'customer/customernavbar.html' %} {% block content %}




    {% endblock %}



     {% include 'customer/customerfooter.html' %}


    <div id="preloader"></div>



</body>
