{% extends 'customer/customermain.html'%}
    <!-- navbar and searching is included -->

{% block content %}
    <!-- contents that frequently changed are included -->
    <main id="main">
        <h2 class="section-header">Bus </h2>
    <span></span>
<section class="bus-show-case">
  {% for bus in buses %}

  <div class="bus">
      <img src="" alt="odabus">
      <h2>{{bus.name}}</h2>
  </div>


{% endfor %}

      <!-- <div class="bus">
            <img src="selam bus.png" alt="odabus">
            <h2> Selam Bus</h2>
        </div>
        <div class="bus">
            <img src="yegna bus.png" alt="odabus">
            <h2>YEGNA BUS</h2>
        </div>
        <div class="bus">
            <img src="Abay.png" alt="odabus">
            <h2> Abay BUS</h2>
        </div> -->
</section>

<section class="featured-distination">
    <h2 class="section-header"> frequently  Booked </h2>
    <span></span>
<div class="promote">
    <h3>
   Travel to Addis Ababa Savely, Cheaply and Fastly
    </h3>
  <ul>
    <li>your comfort is our peace </li>
    <li> we don't serve you like Customer! we serve you like a family </li>
    <li> <span>5 hours</span> money back guarentee for your booking </li>

    <div class="show-more-box">
        <a href="#"> see more</a>
    </div>
  </ul>
</div>
<h1 class="section-header"> why us?</h1>
<span></span>
<div class="why">
    <div class="comfort">

    </div>
    <div class="turst">

    </div>
    <div class="speed">

    </div>
</div>

<div class="faq">
    <h1 class="section-header"> FAQ </h1>


</div>
</section>
    </main>
    {% endblock content %}
    <!-- footer which works for all  -->
