{% extends 'customer/customermain.html'%} {% block content%}



<div>
    <table>
        <tr>
            <th>Traveler</th>
            <th>Traveling Bus</th>
            <th>Route</th>
            <th>Travel start</th>
            <th>Travel Destination</th>
            <th>Travel Date</th>
            <th>Travel Begin Time</th>
            <th>Booked Seat</th>
            <th>Number of reserved seat</th>
            <th>Status</th>
        </tr>
        {% for booking in bookings%}
        <tr>
            <td>{{booking.user.username}}</td>
            <td>{{booking.bus}}</td>
            <td>{{booking.route.name}}</td>
            <td>{{booking.start}}</td>
            <td>{{booking.destination}}</td>
            <td>{{booking.travel_date}}</td>
            <td>{{booking.travel_begin_time}}</td>
            <td>{{booking.seat}}</td>
            <td>Please anyone who knows counting ...</td>
            <td>{% if booking.id != booking.finishpymnt_booking.booking_id%}<a href="{% url 'pay' booking.id %}">Pay</a> {%else%}
                <p></p>
                {% if booking.id == booking.finishpymnt_booking.booking_id and booking.finishpymnt_booking.finishpayment_status.fnishpayment_id != booking.id%}<button class="btn btn-primary">Under Review</button> {%endif%} {%endif%}

                <p></p>
                {% if booking.id == booking.finishpymnt_booking.booking_id and booking.finishpymnt_booking.finishpayment_status.fnishpayment_id == booking.id and booking.finishpymnt_booking.finishpayment_status.status is True%}
                <button class="btn btn-success">Booked</button><br> Do you want to cancel? <a href="">Cancel</a> {%else%}
                <p></p>
                {% if booking.id == booking.finishpymnt_booking.booking_id and booking.finishpymnt_booking.finishpayment_status.fnishpayment_id == booking.id and booking.finishpymnt_booking.finishpayment_status.status is False%}
                <button class="btn btn-danger">Not Booked</button> <br>Your payment didn't arrived, please call our customer service.{%endif%} {%endif%}


            </td>



        </tr>
        {%endfor%}
    </table>
</div>

{%endblock content%}