{% extends 'customer/customermain.html'%} {% block content%}

<style>
.selected{
    background-color: green;
}
.booked{
    background-color: gray;
}
.hide{
    display: none;
}
</style>

<div class="book" style="display:flex ; flex-wrap:wrap; gap:4px; margin-top:100px;">
    <h2  id="selected"  style="flex-basis:100% ;">Book for your bus</h2> <br>
    {% for bus_seat in bus_seats %}
   
    <div onclick="priceCalculator(id)" id="{{bus_seat.price}}">

        {% if bus_seat.reserved == True %}
        <p class="booked"    style="border:2px solid rgb(45, 34, 34) ; width: 70px; text-align: center; flex-basis: 20%;"> {{bus_seat.seat_number}} </p>
        {% else %}
    <p class="me"   id="{{bus_seat.id }}" onclick="selector(id)" style="border:2px solid rgb(82, 54, 54) ; width: 70px; text-align: center; flex-basis: 20%; cursor: pointer;"> {{bus_seat.seat_number}} </p>

    {% endif %}
</div>
    {%endfor%}
    <form action="" id="bookingForm" method="POST">
        {% csrf_token %}
               
        <input class="hide" id="seat_field" type="text" value="" name="seats" required/>
        <input class="hide" id="price_field" type="text" value="" name="price" required/>
        <input type="submit" value="Book">
        
        
           </form>
           <p id="price"> here is price:  </p>
           
</div>


<script>
    let list = []
    function selector(id){
   let selected = document.getElementById(id)
   let newSeat = true
   list.forEach(checker);
   function checker(item,index){
    if(item == id){
        list.splice(index,1)
        selected.classList.remove("selected") ;
        newSeat = false    
    }
   }
   if(newSeat){
    list.push(id);
    selected.classList.add("selected") ;
    
   }
   console.log(list);
   document.getElementById("seat_field").value = list
    }

    function priceCalculator(price){
        var total_price = list.length * price
        document.getElementById("price_field").value = total_price;
        document.getElementById("price").innerHTML = total_price;

    }
    
   
    
</script>


{%endblock content%}