<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is landing page for the afroperia Bus booking admin site</title>
</head>
<body>
    <p><a href="{% url 'manage_bus_brand'%}">Manage Bus Brands</a></p>
    <p><a href="{% url 'manage_city'%}">Manage City</a></p>
    <p> wel come to the bus booking admin site for the afroperia bus booking site </p>
</body>
</html>