<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> to manage all the subroute admins</title>
</head>
<body>
  page to manage booker 
    {% for subroute_admin in subroute_admins %}
    {{ subroute_admin.user.firstname }}
    {% endfor%}
    <!-- here we have to call the registration function -->
    <a href="{% url 'register' %} "> add booker</a>
</body>

</html>