<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="{% url 'home' %}" class="logo d-flex align-items-center">
                    <span>Online Bus Booking</span>
                </a>
                <p>This service is fast and efficient; you can book route of your choice farther in Ethiopia!</p>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>




            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    Centeral, Jimma, Oromia <br> Ethiopia <br><br>
                    <strong>Phone:</strong> 0942411583, 0948952757, 0973284058<br>
                    <strong>Email:</strong> afroperia@gmail.com<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Afroperia</span></strong>. All Rights Reserved
        </div>

    </div>

</footer>
<!-- End Footer -->