<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manage_bus</title>
</head>
<body>
    <form action="" method="GET">
        <input type="text" placeholder="search here for  a bus brand" name="q">
        <input type="submit" value="search">
    </form>
{% for bus in buses %} 

{{bus.bus_brand.name}}
{{bus.plate_number}}
<a href="{% url 'update_bus' bus.id %}">edit</a>
{% endfor %}
</body>
</html>